name: publish

on:
  push:
    tags:
      - '*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
      - uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.npm
          key: npm-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: npm-${{ runner.os }}-
      # for OIDC authentication
      - run: npm install -g npm@$(jq -r .devEngines.packageManager.version package.json)
      - run: npm ci
      - uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.npm
          key: npm-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
      - run: npm run lint
      - run: npm run build
      - run: npm test
      - run: npm publish
      - run: gh release create '${{ github.ref_name }}' --title '${{ github.ref_name }}' --generate-notes
        env:
          GH_PROMPT_DISABLED: 1
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
